#body {
    padding: 20px;
    margin: 20px;
}

.animal-gif {
    margin-left: 15px;
    margin-top: 10px;
}

#gif-area {
    padding: 20px;
    margin-left: 25px;
    margin-top: 10px;
    border-width: 1.5px;
    border-style: solid;
}

#add-animals {
    padding-right: 15px;
    margin: 15px;
}

#submitNewAnimal {
    margin-top: 5px;
    
}

